USE [master]
GO
/****** Object:  Database [InventoryDB]    Script Date: 05/07/2025 01:43:30 ******/
CREATE DATABASE [InventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InventoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InventoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryDB]
GO
/****** Object:  Table [dbo].[INVENTORY]    Script Date: 05/07/2025 01:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[QTY] [int] NOT NULL,
	[TYPE] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM]    Script Date: 05/07/2025 01:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[PRICE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 05/07/2025 01:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[QTY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[INVENTORY] ON 

INSERT [dbo].[INVENTORY] ([ID], [ITEM_ID], [QTY], [TYPE]) VALUES (1, 1, 5, N'T')
INSERT [dbo].[INVENTORY] ([ID], [ITEM_ID], [QTY], [TYPE]) VALUES (2, 2, 10, N'T')
INSERT [dbo].[INVENTORY] ([ID], [ITEM_ID], [QTY], [TYPE]) VALUES (3, 3, 15, N'T')
SET IDENTITY_INSERT [dbo].[INVENTORY] OFF
GO
SET IDENTITY_INSERT [dbo].[ITEM] ON 

INSERT [dbo].[ITEM] ([ID], [NAME], [PRICE]) VALUES (1, N'Pen', 5)
INSERT [dbo].[ITEM] ([ID], [NAME], [PRICE]) VALUES (2, N'Book', 10)
INSERT [dbo].[ITEM] ([ID], [NAME], [PRICE]) VALUES (3, N'Bag', 30)
SET IDENTITY_INSERT [dbo].[ITEM] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER] ON 

INSERT [dbo].[ORDER] ([ID], [ITEM_ID], [QTY]) VALUES (1, 1, 2)
INSERT [dbo].[ORDER] ([ID], [ITEM_ID], [QTY]) VALUES (2, 2, 3)
INSERT [dbo].[ORDER] ([ID], [ITEM_ID], [QTY]) VALUES (4, 4, 1)
SET IDENTITY_INSERT [dbo].[ORDER] OFF
GO
ALTER TABLE [dbo].[INVENTORY]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Item] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[ITEM] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INVENTORY] CHECK CONSTRAINT [FK_Inventory_Item]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_Order_Item] FOREIGN KEY([ITEM_ID])
REFERENCES [dbo].[ITEM] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_Order_Item]
GO
ALTER TABLE [dbo].[INVENTORY]  WITH CHECK ADD CHECK  (([QTY]>(0)))
GO
ALTER TABLE [dbo].[INVENTORY]  WITH CHECK ADD CHECK  (([TYPE]='W' OR [TYPE]='T'))
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD CHECK  (([QTY]>(0)))
GO
USE [master]
GO
